%p#notice= notice

%p
  %b Teacher:
  = @schedule.teacher
%p
  %b Title:
  = @schedule.title
%p
  %b Start at:
  = @schedule.start_at
%p
  %b End at:
  = @schedule.end_at
%p
  %b Recurring:
  = @schedule.recurring

= link_to 'Edit', edit_schedule_path(@schedule)
\|
= link_to 'Back', schedules_path
