%h2 Your lessons

%table.twelve
  %tr
    %th Start at
    %th End at
    %th Status
    %th Student
    %th Teacher
    %th

  - @lessons.each do |lesson|
    %tr
      %td= lesson.start_at
      %td= lesson.end_at
      %td= lesson.status
      %td= link_to lesson.student.name, lesson.student
      %td= link_to lesson.teacher.name, lesson.teacher
      %td= link_to 'View details', lesson
