%h2 Lesson scheduling
%p
  With teacher:
  %b= link_to @teacher.name, @teacher
%p
  Hourly rate:
  %b= number_to_currency @teacher.price

#lessons-picker

:javascript
  $(function(){
    var teacherId = #{ @teacher.id };
    var schedules = new App.Collections.Schedules({teacherId: teacherId});
    var lessons = new App.Collections.Lessons({teacherId: teacherId});
    // FIXME timezone issue
    schedules.reset(#{ @teacher.schedules.to_json(beginning_of_week: Time.now.beginning_of_week.advance(hours: 4)) });
    lessons.reset(#{ @teacher.lessons.to_json });
    var view = new App.Views.LessonsIndex({
      schedules: schedules,
      lessons: lessons
    });
    $('#lessons-picker').append(view.render().el).resize(); //FIXME
  });

= link_to 'Back', lessons_path
