%p From:
= @lesson.start_at

%p Until:
= @lesson.end_at

%p Status:
= @lesson.status

%p Student:
= link_to @lesson.student.name, @lesson.student

%p Teacher:
= link_to @lesson.teacher.name, @lesson.teacher

%p
= render 'lesson_actions'

= link_to 'Back', lessons_path, class: 'button secondary'
