%h2 Change your schedule
#teacher-schedule

:javascript
  $(function(){
    var teacherId = #{@teacher.id};
    var schedules = new App.Collections.Schedules({teacherId: teacherId});
    schedules.reset(#{ @teacher.schedules.to_json });
    var view = new App.Views.SchedulesIndex({schedules: schedules});
    $('#teacher-schedule').append(view.render().el).resize(); //FIXME
  });

%h2 Editing teacher profile

= simple_form_for @teacher do |f|
  = f.input :name
  = f.button :submit
= link_to "Change email/password", edit_teacher_registration_path
