%h2 Change your schedule
#teacher-schedule

:javascript
  $(function(){
    var view = new App.Views.SchedulesIndex({teacherId: #{@teacher.id}});
    $('#teacher-schedule').append(view.render().el);
  });

%h2 Editing teacher profile

= simple_form_for @teacher do |f|
  = f.input :name
  = f.button :submit
= link_to "Change email/password", edit_teacher_registration_path
