%ul
  %li.name
    %h1
      = link_to 'Home', root_path
%section
  %ul.right
    - if teacher_signed_in?
      %li= link_to 'Dashboard', edit_teacher_path(current_teacher)
      %li= link_to 'Log out', destroy_teacher_session_path, method: :delete
    - elsif student_signed_in?
      %li= link_to 'Dashboard', lessons_path
      %li= link_to 'Log out', destroy_student_session_path, method: :delete
    - else
      %li.has-dropdown
        %a(href='#') Student
        %ul.dropdown
          %li= link_to 'Student login', new_student_session_path
          %li= link_to 'Sign up', new_student_registration_path
      %li.has-dropdown
        %a(href='#') Teacher
        %ul.dropdown
          %li= link_to 'Teacher login', new_teacher_session_path
          %li= link_to 'Sign up', new_teacher_registration_path
